#body {
    background-color:#DDD;
    background-color:#DDD;

}



#wrapper {
    width:80%;
    margin: auto;
}

header {
    background-color:#898282;
    height: 150px;
}

#center {
    background-color:#bbb9b8;
}

#container-fluid{
    background-color:#000000;
}

footer {
    background-color:#898282;
    height: 25px;
}

#Button1 {
    float:left;
}
.search-query {
    float:left;
    width:60%;
}

nav {
    clear:both;
}